{% extends '::base.html.twig' %}

{% block title %}OrderUp - Front page{% endblock %}

{% block content %}
    <h1>Welcome to your new order system</h1>
    <p>A pleasure to meet you, {{ name }}</p>
{% endblock %}